
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #65dfc9;
  background-image: url(https://jooinn.com/images/abstract-background-305.jpg);
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* Header styles */
header {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: larger;
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
}

nav img {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border-radius: 50%; /* Creates a circular shape */
  box-shadow: 0px 0px 2px 0px rgb(0 0 0);
}

/* Section styles */
section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
}

section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

#about {
  background-color: #85d255;
  border: 5px solid aquamarine;
}

#studies {
  background-color: #d29e55;
  border: 5px solid rgb(216, 64, 18);
}

#projects {
  background-color: #9b79e9;
  border: 5px solid rgb(226, 47, 178);
}

/* Footer styles */
footer {
  text-shadow: 0px 0px 3px rgb(0 0 0);
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  padding: 20px;
  text-align: center;
}