#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* Base styles */
body {
  font-family: Arial, sans-serif;
  background-color: #981b1b;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header styles */
header {
  background-color: #000;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

/* Section styles */
section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
}

section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Footer styles */
footer {
  background-color: #000;
  padding: 20px;
  text-align: center;
}